<div class="show-meetme">

	<div class="container">
		<div class="row a-meeting">

		<div class="col-md-12 user-box">
		<h2> <%= @meeting.name%> </h2>
			<h3> with <%= @meeting.receiver.firstname %></h3>
			<h3> where: <%= @meeting.location %></h3>
			<% if @meeting.date %>
			<h3> at: <%= @meeting.date %></h3>
			<% end %>
			<h3> detail : <%= @meeting.description %></h3>
			<%= link_to "Remove", @meeting, :method => :delete, class: "btn btn-md btn-default border" %>
		</div>

		</div>
		</div>

	</div>



</div>



