
<p id="notice"><%= notice %></p>
<div class="userprofile">
<%= image_tag current_user.image%><br>
Hello <%= current_user.firstname %><br>
</div>


<div class="contactlist" %>
	<h4> You have <%=@total_friends.count %> contacts</h4>
	<%= link_to "All Contacts", friendships_path%><br>
	<%= link_to "Add New Contact", new_friendship_path %><br>
</div>	

<div class="meetme">
	<h4> You have <%= @total_meetings.count %> meetme@</h4>
	<%= link_to "See all meetmees", meeting_path%><br>
	<%= link_to "Add new meetme@", new_meeting_path %><br>
</div>




<p><%= link_to "Find Friends", users_path %></p>

	




