<p id="notice"><%= notice %></p>

Hello <%= current_user.firstname%><br>
<%= current_user.email %><br>
<%= current_user.firstname %><br>
<%= current_user.lastname %><br>
<%= image_tag current_user.image%><br>

<h2>Your Friends</h2>
<ul>
	<% for friendship in current_user.friendships %>
		<li>
		  	<%= friendship.friend.firstname %>
		  	<%= link_to "remove", friendship, :method => :delete %>
		</li>
	<% end %>
</ul>
	<h2>Friended by Users</h2>
		<ul>
			<% for user in current_user.inverse_friends %>
				<li><%= user.firstname %></li>
			<% end %>
		</ul>
<% if current_user.invitation%>
<% if current_user.invitation_limit > 0 %>
	<p> 	
		<%= link_to "Invite a Friend!", new_email_invitation_path %>
			(<%= current_user.invitation_limit %> left )
	</p> 
<% end%>
<% end %>


<h2> You have <%= current_user.meetings.count + current_user.inverse_meetings.count%> meetings</h2>
	<div>
	<% for meeting in current_user.meetings %>
	Send to : <%= meeting.receiver.firstname%>(<%=meeting.receiver.email%>)
	<h4><%= meeting.name %></h4>
	<p> Where - <%= meeting.location %><br></p>
	<p> When - <%= meeting.date %><br></p>
	<p> Detail <%= meeting.description %><br></p>
	<%= link_to "remove", meeting, :method => :delete %>
	<%= link_to "Edit", edit_meeting_path(meeting) %>
	<%end%>
	
	</div>

<h2> Others</h2>
<div>
<ul>
	<% for inverse_meeting in current_user.inverse_meetings %>
		<h4><%= inverse_meeting.name%>(<%=inverse_meeting.receiver.email%></h4><br>
		<p>Where - <%= inverse_meeting.location%></p><br>
		<p>When  - <%= inverse_meeting.date%></p><br>
		<p>Detail - <%= inverse_meeting.description%></p><br>
		<p>Send by:<%= inverse_meeting.user.email %></p>
	<% end %>
</ul>
</div>
<div id="map-canvas"></div>



<p><%= link_to "Find Friends", users_path %></p>

	




