
<p id="notice"><%= notice %></p>
<div class="userprofile">
<%= image_tag current_user.image%><br>
Hello <%= current_user.firstname %><br>
</div>


<div class="contactlist" %>
<%= link_to "Add New Contact", new_friendship_path %>
<%= link_to "Contacts", friendships_path%>
<% end %>


	<p class="invite">	
		<%= link_to "Invite a Friend!", new_email_invitation_path %>
	</p>
</div>	



<h2> You have <%= current_user.meetings.count + current_user.inverse_meetings.count%> meetings</h2>
	<div>
	<% for meeting in current_user.meetings %>
	<% if meeting.receiver%>
	Send to : <%= meeting.receiver.firstname%>(<%=meeting.receiver.email%>)
	<% end%>
	<h4><%= meeting.name %></h4>
	<p> Where - <%= meeting.location %><br></p>
	<p> When - <%= meeting.date %><br></p>
	<p> Detail <%= meeting.description %><br></p>
	<%= link_to "remove", meeting, :method => :delete %>
	<%= link_to "Edit", edit_meeting_path(meeting) %>
	<%end%>
	
	</div>

<h2> Others</h2>
<div>
<ul>
	<% for inverse_meeting in current_user.inverse_meetings %>
		<h4><%= inverse_meeting.name%> <%=inverse_meeting.receiver.email%></h4><br>
		<p>Where - <%= inverse_meeting.location%></p>
		<p>When  - <%= inverse_meeting.date%></p>
		<p>Detail - <%= inverse_meeting.description%></p>
		<p>Send by:<%= inverse_meeting.user.email %></p>
	<% end %>
</ul>
</div>
<div id="map-canvas"></div>



<p><%= link_to "Find Friends", users_path %></p>

	




