<div class="friendlist">

<div class="container">

	<div class="row all-friends">


<h2 class="our-users"> Your have <%= @total_friends.count %> friends </h2>

<% for friendship in current_user.friendships %>

	<div class="user col-md-4">
	<td class="col-md-12"><%= image_tag friendship.friend.image(:med), :class=> "profile-image" %></td><br>
	<td class="col-md-12">Name: <%= friendship.friend.firstname %><%=friendship.friend.lastname%></td><br>
	<td class="col-md-12">Email: <%= friendship.friend.email %></td><br>
	<%= link_to "remove", friendship, :method => :delete, class: "btn no-border" %><br>
	<%= link_to "See detail", friendship_path(friendship), class: "btn no-border" %><br>

	</div>
<% end %>


	<div class="col-md-12">
<% for user in current_user.inverse_friends %>
	<div class="user col-md-4">
	<td class="col-md-12"><%= image_tag user.image(:med), :class=> "profile-image"  %></td><br>
	<td class="col-md-12">Name: <%= user.firstname %></td><br>
	<td class="col-md-12">Email: <%= user.email%></td><br>
	</div>
<% end %>
</div>
</div>

</div>
</div>
