<h3>Hi <%=current_user.firstname%><br></h3>
<%=image_tag current_user.image(:large) %><br>


<h2> Your have <%= @total_friends.count %> friends </h2>
<% for friendship in current_user.friendships %>
	<%= image_tag friendship.friend.image %><br>
	Name: <%= friendship.friend.firstname %><br>
	Email: <%= friendship.friend.email %><br>
	<%= link_to "remove", friendship, :method => :delete %><br>
<% end %>



<% for user in current_user.inverse_friends %>
	<%= image_tag user.image(:large) %><br>
	Name: <%= user.firstname %><br>
	Email: <%= user.email%><br>
<% end %>

