<h1>Welcome to MeetMe@</h1>
<p id="notice"><%= notice %></p>

Hello <%= current_user.firstname%><br>
<%= current_user.email %><br>
<%= current_user.firstname %><br>
<%= current_user.lastname %><br>
<%= image_tag current_user.image(:large)%><br>

<h2>Your Contacts</h2>
<ul>
	<% for friendship in current_user.friendships %>
		<li>
		  	<%= friendship.friend.firstname %>
		  	<%= link_to "remove", friendship, :method => :delete %>
		</li>
	<% end %>
</ul>
	<h2>Friended by Users</h2>
		<ul>
			<% for user in current_user.inverse_friends %>
				<li><%= user.firstname %></li>

			<% end %>
		</ul>
	

	





<p><%= link_to "Find Friends", users_path %></p>

	


<%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
<%= link_to "edit my profile", edit_user_registration_path(current_user) %>


