<%= form_tag "/meetings", method: :post do %>
<h4>Friend</h4>
<p><%= select_tag "meeting[receiver_id]", options_from_collection_for_select(@total_friends, "id", "firstname") %></p>
<%#= text_field_tag "meeting[receiver_id]" %>
<h4> Event name: <h4>
<p><%= text_field_tag "meeting[name]", params[:name] %></p><br>
<h4>Location</h4>
<p><%= text_field_tag "meeting[location]", params[:location]%></p><br>
<h4>Description</h4> 	 	
<p><%= text_field_tag "meeting[description]", params[:description] %></p><br>
<p><%= submit_tag"Add to meetme@"%></p>
<% end %>






