<h3>There are <strong><%=@results.length%></strong> near this area</h3>
<%@results.each do |r|%>
	<% if r["venue"]%>
	<ul><h4><%= r["name"]%></h4>
	Address: <%= r["venue"]["address_1"]%>,<%= r["venue"]["city"]%>,<%= r["venue"]["zip"]%>,<%= r["venue"]["state"]%><br>

	Link to detail: <%= r["event_url"]%><br>

		<% end %>
	</ul>

	
<%end %>
