<div class="welcome">
<div class="logo"></div>
<!DOCTYPE html>
<html>
<head>
<title>Meet-Me@</title>
   <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js">
    </script>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="profile">
  <%if current_user %>

  <h3>Hello <%= current_user.firstname%></h3>
    <%= link_to "Home", user_path(current_user)%>|
    <%= link_to "All Users", users_path%>|
    <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %>
    <% end %>
    <hr>
</div>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
<%= params.inspect %>


<div class="container">
  <%= yield %>
</div>

</div>
</body>
</html>
